.project {
width: 400px;
height: 500px;
margin: 20px;

  &__screenshot {
    height: 230px;
    width: 430px;
    background: #bae8e8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image{
    height: auto;
    width: 400px;
    border: 2px solid black;
  }

  &__language {
    color: #bae8e8;
    padding-top: 20px;
    font-weight: 600;
    font-size: 16px;
  }

  &__title {
    color: #272643;
    font-size: 32px;
  }

  &__description {
    color: #8c9cb1;
    padding-top: 20px;
    font-size: 16px;
  }

  &__links {
    display: flex;
    padding-top: 20px;
  }

  &__links-styling {
    display: flex;
    align-items: center;
    width: 130px;
    display: flex;
  }
  &__link {
    color: #272643;
    font-size: 16px;
    font-weight: 600;
    padding-right: 10px;
    text-decoration:none;
  }

  &__eye {
   height: 25px;
   width: 25px;
  }

}
