.navbar{
    width: 98%;
    height: 80px;
//   background: #E5E5E5;
background: #F7FAFA;
    // border: 2px solid red;
    display: flex;
    justify-content: space-between;

    &__logo{
        padding: 20px;
        // border: 2px solid black;
        width: 250px;
        display: flex;  
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: larger;
        color: #272643;
    }

    &__links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        // border: 2px solid black;
        width: 500px;
        
    }

    &__contact{
        font-weight: 700;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #272643;
        background: #BAE8E8;
        color: #272643;
       
    }
    &__links-styling{
        color: #8C9CB1;
    }
}