.home {
  height: 500px;
  width: 98vw;
  background: #E5E5E5;


//   background: #F7FAFA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__intro {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  &__intro-styling {
    color: #8c9cb1;
    font-size: 20px;
    font-weight: 500;
  }

  &__icon {
    padding-left: 20px;
    height: 15px;
    width: 15px;
  }

//   &__heading {
//     display: flex;
//     flex-direction: column;
//     // justify-content: center;
//     align-items: center;
//   }
  &__title {
    font-weight: 600;
    font-size: 50px;
  }

  &__underline {
    width: 465px;
    // margin-left: 30px;
   padding-left: 30px;
    // position: absolute;
    // right: 15.82%;
    // bottom: 61%;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    height: 50px;
    width: 230px;
    margin: 20px;
    border: 2px solid #272643;
    box-shadow: 0px 20px 40px rgba(185, 192, 192, 0.19);
    border-radius: 7px;
    background: #BAE8E8;
  }
  &__arrow-icon{
    height: 15px;
    padding: 5px 0px 0px 10px;
  
  }
}
